<div class="recent-recipe-item col">
    <a href="/public/{{ recipe.id }}">
      <div class="card">
        <img src="{{ recipe.picture }}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div class="row">
            <i class="fas fa-utensils icon-box"></i>
            <h5 class="card-title">{{ recipe.title }}</h5>
          </div>  
        </div>
      </div>
    </a>
    <div class="card-stars">
      {{ recipe.id }}
    </div>
    <div class="fav-heart">
      {% if user.is_authenticated %}
        {{ user.id }}
      {% else %}
        <i id='heart-{{ recipe.id }}' class='far fa-heart icon-box'></i>
      {% endif %}
    </div>
  </div>
  