{% load static %}
<a href="{% url 'recipes:detail' recipe.id %}">
    <div>
      {% if recipe.image %}
        <img src={{ recipe.image }} class="w-100" alt="...">
      {% else %}
        <img src="{% static 'recipes/image_default.jpg' %}" class="w-100" alt="...">
      {% endif %}
      <div class="carousel-caption d-none d-md-block">
        <div class="row title">
            <i class="fas fa-utensils icon-box"></i>
            <h5>{{ recipe.title }}</h5>
        </div>
        <div class="row description">
          <p>{{ recipe.description }}</p>
        </div>
        <div class="row">
          <div class="col-2 time">
            <span>
              <i class="far fa-clock"></i>
              {{ recipe.updated }}
            </span>
          </div>
          <div class="col-2 category">
            <span>
              <i class="fas fa-drumstick-bite"></i>
              {{ recipe.category.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </a>